html, body, .container-fluid {
    #height:100%;
}
.menusrow {
    height: 80%;
}
.navrow {
    height: 5%;
}
.brandrow {
    height: 15%;
}
.menusrow .row {
    height: 20%;
}
.border1 {
    text-align: center;
    height: 100%;
}
.border2 {
    text-align: center;
    padding: 10px;
    background-color: red;
    border: 1px solid black;
    height: 100%;
}
.border3 {
    text-align: center;
    padding: 10px;
    background-color: green;
    border: 1px solid black;
    height: 100%;
}
.border4 {
    text-align: center;
    padding: 10px;
    background-color: orange;
    border: 1px solid black;
    height: 100%;
}
.border5 {
    text-align: center;
    padding: 10px;
    background-color: blue;
    border: 1px solid black;
    color: white;
    height: 100%;
}

.selection {
	margin: 0px;
	padding:5px;	
	outline: 0px solid ;
    vertical-align: middle;
    text-align: center;
	color: #0080ff; /*塗りつぶす色*/
	font-size : 40pt ; /*フォントサイズ*/
	font-family: Meiryo; /*フォントファミリー*/
	font-weight: bold; /*フォントウェイト*/
	
}

.number {
	margin:0px;
	padding: 0px;	
    outline: 0px solid ;
    vertical-align: middle;
    text-align: center;
	color: #ff1111 ; /*塗りつぶす色*/
	font-size : 40pt ; /*フォントサイズ*/
	font-family: Meiryo; /*フォントファミリー*/
	font-weight: bold; /*フォントウェイト*/
	height: 100%;
	background-color: activecaption;
}

.sign {
	margin:0px;
	padding: 5px;	
	outline: 0px solid ;
    vertical-align: middle;
    text-align: center;
	color: #400000 ; /*塗りつぶす色*/
	font-size : 40pt ; /*フォントサイズ*/
	font-family: Meiryo; /*フォントファミリー*/
	font-weight: bold; /*フォントウェイト*/
	height: 100%;
}

.judge {
    outline: 0px solid ;
    vertical-align: middle;
    text-align: center;
	color: #ff1111 ; /*塗りつぶす色*/
	font-size : 40pt ; /*フォントサイズ*/
	font-family: Meiryo; /*フォントファミリー*/
	font-weight: bold; /*フォントウェイト*/
}

.btn {
	background: #09C;
	border: 1px solid #DDD;
	color: #FFF;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
	padding: 10px;
}
